<!-- views/exclusao.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exclusão de Usuário</title>
</head>
<body>
  <h1>Exclusão de Usuário</h1>

  <% if (user) { %>
    <p>Confirma a exclusão do usuário:</p>
    <ul>
      <li>Login: <%= user.login %></li>
      <li>Nome: <%= user.nome %></li>

    </ul>

    <form action="/exclusao/<%= user.id %>" method="post">
      <button type="submit">Confirmar Exclusão</button>
    </form>
  <% } else { %>
    <p>Nenhum usuário encontrado para exclusão.</p>
  <% } %>

  <a href="/busca">Voltar à Busca</a>
</body>
</html>
